.app-container{
  margin: 10px;
}
.nav-item-container{
  display: flex;
  justify-content:space-around;
  border: solid 2px teal;
  border-radius: 15px;
  margin: 7px;
}
.nav-item-container > li{
  font-size: 20px;
  list-style: none;
}
.nav{
  padding: 10px;
  background-color: ;
}
.jumboTron{
  padding: 25px;
  background-color: grey;
  margin-bottom: 10px;
}
.section{
  border: solid 10px teal;
}
.cat-img{

  width: 95%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
